body {
    /* background-color: #cacaca; */
    margin: 0;
}

header {
    background-color: #323232;
    max-height: 125px;
    min-height: 62px;
    max-width: 1280px;
    align-content: center;
    display: flex;
    align-content: center;
    color: #ffffff;
    
}

section {
    margin: 5px;
}

/* h2 {
    color: #ffffff;
    text-shadow: 0px 0px 4px #ffffff;
    text-align: center;
    font-size: 36px;
    font-family: 'Shrikhand', cursive;
} */

.meme-generator {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    /* height: 0px;
    display: none; */
}
/* .meme-generator .hidden {
    height: 0px;
} */

#canvas {
    display: flex;
    background: #ffffff;
    max-width: 500px;
    /* max-height: 300px; */
    height: 300px;
    /* direction: rtl; */
}

.meme-row {
    z-index: 1;
}

/* 
#canvas .hidden {
    height: 0px;
} */

#userSearch {
    padding:17px;padding-left:55px;width:300px;border:1px solid #f5f5f5;
    font-size:13px;color:gray;
    background-image:url('../img/icons/search logo.png');
    background-repeat:no-repeat;
    background-position:left center;
    outline:0;
}

.meme-gallery {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.img-thumb {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
    margin: 5px;
    /* overflow: hidden; */
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);    
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    

}

.control {
    display: flex; 
    width: 400px;
    flex-direction: column;
    justify-content: space-between
}

/* .editor {
    display: flex;
    justify-content: space-between;
} */

.edit-buttons {
    display: flex;
    justify-content: space-between;
    /* insted of flex-flow, i used direction rtl. in this case when translate the buttons will move back left-tp-right. */
    /* TO DISCUSS: maybe to put rtl on body, but then the canvas and edit section switch sides. */
    /* flex-flow: row-reverse; */
    direction: rtl;
    align-items: center;
}

/* to check if we can change direction when user write in english  */
.input-text {
    padding: 10px 0;
    border:1px solid #f5f5f5;
    font-size:13px;color:gray;
    outline:0;  
    width: 400px;
    direction: rtl;
}

.font-color {
    height: 30px;
    width: 30px;
    margin: 5px;
}
button {
    height: 30px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
}
.align-right {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/align-right.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}
.align-center {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/align-center.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}
.align-left {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/align-left.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}
.font-type {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/font-type.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}
.font-inc {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/font-inc.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}
.font-dec {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/font-dec.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}
.shadow {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/shadow.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}
.trash {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/trash.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}

/* Tooltip text */
.move-right {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/right.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}

.move-left {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/left.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}

.move-up {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/up.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}

.move-down {
    border:1px solid #f5f5f5;
    background-image:url('../img/icons/down.png');
    background-size: 100%;
    background-repeat:no-repeat;
    outline:0;
}

.buttons-movement {
    display: flex;
    flex-flow: row-reverse;
}


/* Tooltip text
.tooltip {
    position: relative;
    display: inline-block;
    border-style: solid;
	border-color: #eeeeee #999999 #999999 #eeeeee;
	background-color: #cccccc;
    border-width: 2px;
    cursor: pointer;
    border-radius: 10%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    Position the tooltip text 
    position: absolute;
    z-index: 1;
    left tooltip 
    top: -5px;
    right: 105%; 
}

 /* Show the tooltip text when you mouse over the tooltip container */
/*.tooltip:hover .tooltiptext {
    visibility: visible;
} */

.tagCloud {
    width: auto;
    padding-top: 14px;
    padding-bottom: 30px;
}

.key-size1 {
    font-size: inherit;
    cursor: pointer;
}

.key-size2 {
    font-size: 30px;
    cursor: pointer;

}

.key-size3 {
    font-size: 40px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    cursor: pointer;
}

/* .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 15px solid #323232;
    position: absolute;
    margin-top: 61px; 
    right: 50%;
} */

header img {
    margin-top: 10;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 40%;
    right: 50%;
    margin: 0 auto;
}

#download {
    color: black;
}

a:link {
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #2db297;
}

#about-us {
    /* min-height: 200px; */
    max-height: 700px;
    background-color: #2db297;
    padding: 15px;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    
}

.about {
    width: 70%;
    align-self: center;
}

/* #about-us img {
    left: 10%;
    position: absolute;
    float: left;
} */

#about-us2 {
    /* min-height: 200px; */
    max-height: 700px;
    background-color: #323232;
    padding: 15px;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    color: #ffffff;
}

.link1 {
    position: relative;
    left: 26%;
    top: 22px;
}

.link2 {
    position: relative;
    left: 48%;
    top: 22px;
}

.hexagon1 {
    position: relative;
    width: 140px; 
    height: 80.83px;
    margin: 40.41px 0;
    background-image: url(../img/ben_about_us.jpg);
    background-size: auto 161.6581px;
    background-position: center;

  }
  
  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 98.99px;
    height: 98.99px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 20.50px;
  }
  
  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: 140.0000px;
    height: 80.82903768654761px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  
  .hexTop {
    top: -49.4975px;
  }
  
  .hexTop:after {
    background-position: center top;
  }
  
  .hexBottom {
    bottom: -49.4975px;
  }
  
  .hexBottom:after {
    background-position: center bottom;
  }
  
  .hexagon1:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 140.0000px;
    height: 80.8290px;
    z-index: 2;
    background: inherit;
  }

  .hexagon2 {
    position: absolute;
    width: 140px; 
    height: 80.83px;
    margin: 40.41px 0;
    background-image: url(../img/ben_about_us.jpg);
    background-size: auto 161.6581px;
    background-position: center;

  }

  .hexagon2:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 140.0000px;
    height: 80.8290px;
    z-index: 2;
    background: inherit;
  }

@media screen and (max-width: 480px) {
    /* start working on responsive design */
    header img {
        justify-content: center;
        position: absolute;
    }
}

.profile-img {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);    
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    height: 140px;
}